.choose-condition{

}

.choose-condition-item{
    margin: 0 20px;
    display: inline-block;
    height: 30px;
}

.year-select-long{
    width: 200px;
}

.year-select-short{
    width: 100px;
}

#classes-table{
    margin: 20px;
}

.data-table{
    text-align: center;
}

.arrange-class-icon{
    font-size: 20px;
}

.class-week-calendar-time{
    background-color: #7986CB;
    margin: 5px 0;
    cursor: pointer;
}

.class-week-calendar-time:hover{
    background-color: #3F51B5;
}

.week-calendar-time-summary{
    color: white;
}

.week-calendar-time-detail{
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    padding: 0 10px 10px 10px;
}

.action-corner{
    text-align: center;
    margin-top: 10px;
}