.weekday {
    float: left;
    margin: 5px 1px;
    width: 154px;
    text-align: center;
    color: white;
}

.weekday-title {
    font-weight: 500;
    background-color: #1675b7;
    margin-bottom: 2px;
}

.lesson-morning {
    text-align: left;
    color: black;
    margin-bottom: 2px;
    height: 80px;
    background-color: #99B1Da;
    overflow-y: auto;
    position: relative;
}

.lesson-afternoon {
    text-align: left;
    color: black;
    margin-bottom: 2px;
    height: 80px;
    background-color: #4DB6AC;
    overflow-y: auto;
    position: relative;
}

.lesson-1 {
    height: 80px;
}

.lesson-2 {
    height: 162px;
}

.lesson-3 {
    height: 244px;
}

.lesson-4 {
    height: 326px;
}

.lesson-5 {
    height: 408px;
}

.lesson-small{
    float: left;
    width: 76px;
    display: inline-block;
    margin-right: 2px;
}

.lesson-tiny{
    float: left;
    width: 50px;
    display: block;
    margin-right: 2px;
}

.lesson-column-final{
    margin-right: 0;
}

.morning{
    overflow-y: auto;
    margin-bottom: 2px;
    background-color: #99B1Da;
}

.afternoon{
    overflow-y: auto;
    margin-bottom: 2px;
    background-color: #4DB6AC;
}

.sub-lesson-final{
    margin-bottom: 0px;
}


.lesson-container{
    background-color: transparent;
}

.calendar {
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: inline-block;
}

.calendar-panel {
    text-align: center;
}

.week-name {
    margin: 0 10px;
}

.ly-thuyet {
    font-weight: bold;
    background-color: white;
}

.thuc-hanh {
    font-weight: bold;
    background-color: #FFE082;
}

.class-content {
    margin: 4px;
}

.subject-name {
    font-size: 14px;
    text-align: center;
    word-break: break-all;
}

.subject-detail {
    font-size: 13px;
    margin: 0px 2px;
}

.lesson-happening {
    outline: 2px solid #FB8C00;
    outline-offset: -2px;
    animation: blinking 1s linear infinite;
}

@keyframes blinking {
    from,
    49.9% {
        outline: 2px solid #FB8C00;
    }
    50%,
    to {
        outline: 2px solid #E65100;
    }
}

.setting-icon{
    font-size: 20px;
    float: right;
}

.lesson-actions-corner{
    position: absolute;
    bottom: 0;
    width: 140px;
    height: 20px;
    padding: 5px;
    background:rgba(255,255,255,0.2);
    visibility: hidden;
}

.registered{

}

.note-content{
    margin: 4px -5px;
    height: 50px;
    overflow-y: auto;
    background-color: #FBE9E7;
    padding: 3px;
    border-left: 4px solid #1675b7;
    border-radius: 5px;
}

.student-note-content{
    margin: 4px -5px;
    height: 50px;
    overflow-y: auto;
    background-color: #ddffff;
    padding: 3px;
    border-left: 4px solid #1675b7;
    border-radius: 5px;
}

.teacher-note-content{
    margin: 4px -5px;
    height: 50px;
    overflow-y: auto;
    background-color: #ddffff;
    padding: 3px;
    border-left: 4px solid #1675b7;
    border-radius: 5px;
}

.edit-title{
    font-weight: bold;
}

.edit-note-textArea{
    font-size: 15px;
    height: 100px;
}

.edit-date-input{
}

