.weekday {
    float: left;
    margin: 5px 1px;
    width: 150px;
    text-align: center;
    color: white;
}

.weekday-title {
    font-weight: 500;
    background-color: #1675b7;
}

.lesson-morning {
    text-align: left;
    color: black;
    margin: 1px 0;
    height: 80px;
    background-color: #99B1Da;
    overflow-y: auto;
    position: relative;
}

.lesson-afternoon {
    text-align: left;
    color: black;
    margin: 1px 0;
    height: 80px;
    background-color: #4DB6AC;
    overflow-y: auto;
    position: relative;
}

.lesson-1 {
    margin: 1px 0;
    height: 80px;
}

.lesson-2 {
    margin: 1px 0;
    height: 161px;
}

.lesson-3 {
    margin: 1px 0;
    height: 242px;
}

.lesson-4 {
    margin: 1px 0;
    height: 323px;
}

.lesson-5 {
    margin: 1px 0;
    height: 404px;
}

.calendar {
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: inline-block;
}

.calendar-panel {
    text-align: center;
}

.week-name {
    margin: 0 10px;
}

.ly-thuyet {
    font-weight: bold;
    background-color: white;
}

.thuc-hanh {
    font-weight: bold;
    background-color: #FFE082;
}

.class-content {
    margin: 4px;
}

.subject-name {
    font-size: 14px;
    text-align: center;
}

.subject-detail {
    margin: 5px 5px;
}

.lesson-happening {
    outline: 4px solid #FB8C00;
    outline-offset: -4px;
    animation: blinking 1s linear infinite;
}

@keyframes blinking {
    from,
    49.9% {
        outline: 4px solid #FB8C00;
    }
    50%,
    to {
        outline: 4px solid #E65100;
    }
}

.setting-icon{
    font-size: 20px;
    float: right;
}

.lesson-actions-corner{
    position: absolute;
    bottom: 0;
    width: 140px;
    height: 20px;
    padding: 5px;
    background:rgba(255,255,255,0.2);
    visibility: hidden;
}

.registered{

}

.note-content{
    margin: 0px -5px;
    height: 50px;
    overflow-y: auto;
    background-color: #ddffff;
    padding: 3px;
    border-left: 4px solid #1675b7;
    border-radius: 5px;
}

.edit-title{
    font-weight: bold;
}

.edit-note-textArea{
    font-size: 15px;
    height: 100px;
}

.edit-date-input{
}

