#footer{
    box-sizing: border-box;
    padding-left: 280px;
    clear: both;
    float: left;
    width: 100%;
    display: block;
}

.footer-body{
    color: #707070;
    font-size: 15px;
    line-height: 1.66666666666667;
    margin: 20px 0;
    padding: 0 10px 21px;
    min-height: 44px;
    text-align: center;
    display: block;
}

.footer-item{
    margin: 0 20px;
}

.icon{
    margin: 0 5px;
}

.link{
    text-decoration: none;
    color: #0096D6;
}