.header{
    clear: both;
    float: left;
    width: 100%;
    background: #205081;
    box-sizing: border-box;
    color: #fff;
    padding-left: 10px;
    position: fixed;
    z-index: 1;
}

.header-primary-items{
}

.header-secondary-items{
}

.header-logo{
    margin: 0;
    padding: 0;
    float: left;
}

.logo{
    height: 40px;
    display: block;
}

.header-nav{
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}

.header-nav>li{
    float: left;
    margin: 0;
    list-style: none;
}

.header-user{
    float: right;
    padding: 13px 10px;
    display: block;
    line-height: 1;
}

.quit-button:hover{
    background-color: #2196F3;
}

.header-nav-item{
    padding: 13px 10px;
    display: block;
    line-height: 1;
}

.header-nav-item:hover{
    background-color: #2196F3;
}