.page-panel{
    min-height: 400px;
    margin-top: 0px;
    padding-left: 200px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    clear: both;
    display: block;
    position: relative;
    width: 100%;
}

.page-panel-inner{
    min-height: 400px;
    min-width: 1400px;
    display: table;
    width: 100%;
    /*table-layout: fixed;*/
    border-spacing: 0;
    padding-top: 40px;
}

.page-panel-content{
    box-sizing: border-box;
    display: table-cell;
    padding: 20px;
    vertical-align: top;
    min-width: 1200px;
    overflow-x: auto;
}

.page-panel-right-slide-bar{
    width: 200px;
    box-sizing: border-box;
    display: table-cell;
    padding: 15px;
    vertical-align: top;
    border-left: 1px solid #ccc;
    background-color: #f5f5f5;
}

.right-slide-bar-header{
    border-bottom: 1px solid #ccc;
}

.right-slide-bar-content{
    padding-top: 15px;
}

.note{
    display: block;
}

.note-symbol{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
}

.note-meaning{
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
}

.note-morning{
    background-color: #99B1Da;
}

.note-afternoon{
    background-color: #4DB6AC;
}

.note-ly-thuyet{
    background-color: white;
}

.note-thuc-hanh{
    background-color: #FFE082;
}
